@use '../../styles/partials/fonts' as *;

.contact-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__heading {
        margin: 0rem 2rem 1rem;
        font-family: 'MadeTommy';
        font-size: 3rem;
        text-transform: uppercase;
        border-top: 1px solid white;
        padding-top: 2rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        font-family: 'MadeTommy';

        &-container {
            margin: 0 2rem;
        }
    }
}

input, textarea, textarea::placeholder {
    font-family: 'MadeTommy';
    padding: .25rem 0 .25rem .25rem;
    margin: 0 0 1rem;
    resize: none;
    
}

label {
    margin: 0 0 .25rem;
}
