.projects-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__thumbnail {
        background-color: green;
        width: 40%;
        height: 10rem;
        margin: 0 0 2rem;
        border-radius: 2%;

    }
}


#thumbnail-one {
    background: url(../../assets/thumbnails/dontforgetlanding.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100%;
    border-radius: 2%;
}

#thumbnail-two {
    background: url(../../assets/thumbnails/googlehealthlanding.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100%;
    border-radius: 2%;
}
