@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/breakpoints' as *;

.projects-section {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 0;
    font-family: 'MadeTommy';

    @include tablet {
        margin: 2rem 0 2rem 0;
        padding: 0 2rem 0;
    }

    &__heading {
        margin: 0 0 1rem;
        font-size: 3rem;
        text-transform: uppercase;
    }
    &__card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include tablet {
            flex-direction: row;
        }
    }
    &__card {
        width: 100%;

        @include tablet {
            width: 50%;
        }
    }
    &__thumbnail {
        width: 100%;
        height: 8rem;
        background-color: rgb(175, 175, 175);
        border: 1px solid white;

        @include tablet {
            width: 50%;
        }
    }
    &__text {
        font-family: 'MadeTommyLight';
        margin: .5rem 0 0rem;
        padding-bottom: .5rem;
    }
    &__icons {
        padding-bottom: 2rem;

        &-link {
            max-height: 2rem;
            max-width: 2rem;
        }
    }
    @include large-mobile {
        &__thumbnail {
            height: 14rem;
        }
    }
}

.bottom {
    margin-bottom: 0;
    padding-bottom: 2.5rem;
}

#thumbnail-one, #thumbnail-two, #thumbnail-three, #thumbnail-four {
    width: 100%;
    height: 100%;
}

#thumbnail-one {
    background: url(../../assets/thumbnails/dontforget-logo.svg) no-repeat center;
    background-size: 80%;
}

#thumbnail-two {
    background: url(../../assets/thumbnails/healthconnect-logo.svg) no-repeat center;
    background-size: 100%;
}

#thumbnail-three {
    background: url(../../assets/thumbnails/instock-logo.svg) no-repeat center;
    background-size: 55%;
}

#thumbnail-four {
    background: url(../../assets/thumbnails/brainflix-logo.svg) no-repeat center;
    background-size: 80%;
}



#icon-git {
    height: auto;
    width: 1.5rem;
    margin-right: 1rem;
}

#icon-link {
    height: auto;
    width: 1.25rem;
}