@use '../../styles/partials/fonts' as *;

.projects-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__heading {
        margin: 5rem 3rem 2rem;
        font-family: 'MadeTommy';
        font-size: 3rem;
        text-transform: uppercase;
    }
    &__thumbnail {
        width: 100%;
        height: 8rem;
        margin: 0 3rem 0;
    }
}



#thumbnail-one, #thumbnail-two, #thumbnail-three, #thumbnail-four {
    width: 100%;
    height: 100%;
    border-top: rgb(255, 255, 255) solid 1px;
}

#thumbnail-one {
    background: url(../../assets/thumbnails/dontforget-logo.svg) no-repeat center;
    background-size: 90%;
}

#thumbnail-two {
    background: url(../../assets/thumbnails/healthconnect-logo.svg) no-repeat center;
    background-size: 100%;
}

#thumbnail-three {
    background: url(../../assets/thumbnails/brainflix-logo.svg) no-repeat center;
    background-size: 90%;
}

#thumbnail-four {
    background: url(../../assets/thumbnails/instock-logo.svg) no-repeat center;
    background-size: 65%;
    border-bottom: rgb(255, 255, 255) solid 1px;
}