@font-face {
    font-family: 'MadeTommyBold';
    src: url('../../assets/fonts/MadeTommyBold.ttf');
};

@font-face {
    font-family: 'MadeTommy';
    src: url('../../assets/fonts/MadeTommy.ttf');
};

@font-face {
    font-family: 'MadeTommyLight';
    src: url('../../assets/fonts/MadeTommyLight.ttf');
}