@use '../../styles/partials/fonts' as *;

.contacts-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__heading {
        margin: 3rem 2rem 2rem;
        font-family: 'MadeTommy';
        font-size: 3rem;
        text-transform: uppercase;
    }
}