@use '../../styles/partials/fonts' as *;

.contacts-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__heading {
        margin: 0rem 2rem 1rem;
        font-family: 'MadeTommy';
        font-size: 3rem;
        text-transform: uppercase;
        border-top: 1px solid white;
        padding-top: 2rem;
    }
}